<ion-header>

    <ion-navbar>
        <ion-title>Iniciar Sesion</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <img src="assets/imgs/login.png" alt="login" class="img-login">

    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label floating>Usuario</ion-label>
                <ion-input [(ngModel)]="dataLogin.user" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Contraseña</ion-label>
                <ion-input [(ngModel)]="dataLogin.pass" type="password"></ion-input>
            </ion-item>
        </ion-card-content>
        <ion-row>
            <!-- <button ion-button (click)="homePage('HomePage')"> Acceder </button> -->
            <button ion-button (click)="login()"> Acceder </button>
        </ion-row>
    </ion-card>
</ion-content>