<ion-header>
    <ion-toolbar>
        <ion-title>Home page</ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="logout()">Logout</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <button ion-button block (click)="download()">Descargar</button>
</ion-content>